<?php include __DIR__ . "/../../layout/admin/header.php"; ?>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit User</h1>
</div>
<?php if (!empty($savedSuccess)): ?>
<p class="alert alert-success">
    User updated successfully.
</p>
<?php endif; ?>
<?php if (!empty($error)): ?>
<p class="alert alert-danger">
    <?php echo escape($error); ?>
</p>
<?php endif; ?>
<div class="card">
    <form action="/app/index.php/dashboard/users/edit?id=<?php echo escape($entry->id); ?>" class="form-horizontal"
          method="POST">
        <div class="card-header">
            Editing User: <?php echo escape($entry->username); ?>
        </div>
        <div class="card-body">
            <input class="form-control" id="username" name="username" required
                   type="text" value="<?php echo escape($entry->username); ?>"/>
            <label class="control-label col-md-3" for="username">
                Username
            </label>
            <select class="form form-control col-md-4" id="rank_id"
                    name="rank_id">
                <?php foreach ($ranks AS $rank): ?>
                <option value="<?php echo escape($rank->id); ?>"
                <?php
                        if (escape($rank->id) == escape($entry->rank_id)) {
                echo " selected";
                } ?>><?php echo escape($rank->name); ?>
                </option>
                <?php endforeach; ?>
            </select>
            <label class="control-label col-md-2" for="rank_id">
                Rank
            </label>
            <input class="form-control" id="email" name="email" type="email"
                   value="<?php echo escape($entry->email); ?>"/>
            <label class="control-label col-md-3" for="email">
                E-Mail
            </label>
            <input class="form-control" id="password" name="password" type="password"
                   value=""/>
            <label class="control-label col-md-3" for="password">
                New Password
            </label>
            <input class="form-control" id="password_confirm" name="password_confirm" type="password"
                   value=""/>
            <label class="control-label col-md-3" for="password_confirm">
                Confirm New Password
            </label>
            <br/>
            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="save" name="save"
                    type="submit">
                <i class="fas fa-edit fa-sm text-white-50"></i> Save
            </button>
            <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
               href="/app/index.php/dashboard/users/delete?id=<?php echo escape($entry->id); ?>"
               onclick="return confirm('Are you sure?')">
                <i class="fas fa-trash-alt fa-sm text-white-50"></i> Delete</a>
        </div>
    </form>
</div>
<?php include __DIR__ . "/../../layout/admin/footer.php"; ?>