<?php include __DIR__ . "/../../layout/header.php"; ?>
<br/>
<div class="row">
    <div class="col-lg-12">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3><?php echo escape($category->name); ?></h3>
                </div>
                <div class="card-body row">
                    <div class="col-md-6">
                        <h5>Posts in this Category</h5>
                        <?php foreach ($posts AS $post): ?>
                        <small><?php echo escape(datetime_datetime($post->created)); ?></small>
                        <a href="/app/index.php/post?id=<?php echo escape($post->id); ?>">
                            <?php echo escape($post->title); ?>
                        </a>
                        <br/>
                        <?php endforeach; ?>
                    </div>
                    <div class="col-md-6">
                        <?php if (!empty($category->parent_id)): ?>
                        <h5>Parent Category</h5>
                        <ul>
                            <li>
                                <a href="/app/index.php/post_category?id=<?php echo escape($category->parent_id); ?>">
                                    <?php echo escape($this->categoriesRepository->findID($category->parent_id)->name); ?>
                                </a>
                            </li>
                        </ul>
                        <?php endif; ?>
                        <h5>Sub Categories</h5>
                        <ul>
                            <?php foreach ($children AS $child): ?>
                            <li>
                                <a href="/app/index.php/post_category?id=<?php echo escape($child->id); ?>">
                                    <?php echo escape($child->name); ?>
                                </a>
                            </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php include __DIR__ . "/../../layout/footer.php"; ?>