<?php include __DIR__ . "/../layout/header.php"; ?>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-10 mx-auto">
                <div class="card card-signin">
                    <div class="card-header">
                        <h3>Edit Profile</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/app/index.php/edit_profile" class="form-horizontal">
                            <div class="container">
                                <input type="hidden" name="id" id="id" value="<?php echo escape($entry->id); ?>"/>
                                <input type="text" name="username" id="username" value="<?php echo escape($entry->username); ?>"
                                       class="form-control" required/>
                                <label class="control-label col-md-3" for="username">
                                    Username
                                </label>
                                <input type="email" name="email" id="email" value="<?php echo escape($entry->email); ?>"
                                       class="form-control"/>
                                <label class="control-label col-md-3" for="email">
                                    E-Mail
                                </label>
                                <input type="password" name="password" id="password" value=""
                                       class="form-control"/>
                                <label class="control-label col-md-3" for="password">
                                    New Password
                                </label>
                                <input type="password" name="password_confirm" id="password_confirm" value=""
                                       class="form-control"/>
                                <label class="control-label col-md-3" for="password_confirm">
                                    Confirm New Password
                                </label>
                                <br/>
                                <button type="submit" name="save" id="save"
                                        class="btn btn-lg btn-primary btn-block text-uppercase"
                                        style="border-radius:10px;"> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php include __DIR__ . "/../layout/footer.php"; ?>